*.cache
*.lo
*.o
*~
.*~
.deps/
.libs/
ar-lib
ChangeLog
INSTALL
Makefile
Makefile.in
\#*
aclocal.m4
build-aux
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
libykclient.la
ltmain.sh
m4/*
!m4/manywarnings.m4
!m4/warnings.m4
missing
test-driver
tests/.deps/
tests/Makefile
tests/selftest
tests/test-suite.log
tests/selftest.trs
tests/selftest.log
ykclient
ykclient-*.tar.gz
