*.cache
*.lo
*.o
*.swp
*~
.*~
.deps/
.libs/
ChangeLog
INSTALL
Makefile
Makefile.in
\#*
aclocal.m4
build-aux/ar-lib
build-aux/compile
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/ltmain.sh
build-aux/missing
build-aux/test-driver
config.log
config.status
configure
libtool
libykclient.la
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
tests/.deps/
tests/Makefile
tests/selftest
tests/selftest.log
tests/selftest.trs
tests/test-suite.log
ykclient
ykclient-*.tar.gz
ykclient-*.tar.gz.sig
ykclient.1
ykclient_version.h
cdecode.gcno
cencode.gcno
coverage/
hmac.gcno
sha1.gcno
sha224-256.gcno
sha384-512.gcno
tool.gcda
tool.gcno
usha.gcno
ykclient.gcno
ykclient_server_response.gcno
ykclient_version.gcno
